.custom-bg {
    background-image: url('background/noria.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px; /* Ajusta según lo que necesites */
    padding: 2rem;
    border-radius: 1rem;
}